<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="TestLogin" >
    <classes>
      <class name="testClass.TestLogin"/>
    </classes>
  </test>
  <test name="TestListItems" >
    <classes>
      <class name="testClass.TestListItems"/>
    </classes>
  </test>
  <test name="TestDropdownMenu" >
    <classes>
      <class name="testClass.TestDropdownMenu"/>
    </classes>
  </test>
  <test name="TestButtons" >
    <classes>
      <class name="testClass.TestButtons"/>
    </classes>
  </test>
  <test name="TestButtonDisplayAndClick" >
    <classes>
      <class name="testClass.TestButtonDisplayAndClick"/>
    </classes>
  </test>
  <test name="TestTableData" >
    <classes>
      <class name="testClass.TestTableData"/>
    </classes>
  </test>
</suite> <!-- Suite -->
